{% extends "layout.njk" %}
{%block css %}
<link rel="stylesheet" href="public/css/style.css"/>

{% endblock %}
{% block top%}

{% endblock %}

{% block contenu%}


<h1>Identifiant  Mot de Passe</h1>



<div>
<form method="POST" action="/dataBase">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />

  <button type="submit">
    Connexion
  </button>
</form>
</div>



{% endblock %}
